.idea/.name
.idea/encodings.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/misc.xml
.idea/test_google_drive_api_django.iml
*.pyc
Workspace/client_secret.json